<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nie znaleziono strony</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Nie znaleziono strony</h1>
            <p class="text-danger">Nie znaleziono strony o podanym adresie.</p>
        </LayoutView>
    </NotFound>
</Router>
